.type_img{
  width: 140px;
  height: 140px;
  border-radius: 12px;
}
.reviewtype{
  position: relative;
  text-align: left;
  color: white;
}
.reviewtype_text{
  color: black;
  font-size: 14px;
}
.reviewtype_textname{
  color: gray;
  font-size: 18px;
  font-weight:700;

}