.Form{
  color: white;
  padding: 70px 20px 70px 20px;
  /* padding-bottom: 0; */
  background-color: rgb(31, 31, 164);
  max-width: 100%;
  font-size: 14px;
  align-self: center;
  text-align: center;  
 
}
.Form_content{ 
  margin: 0 auto;
  width: 50%;
}
.Form__h2{
  font-size: 30px;
  margin-bottom: 20px;
}
.Form__text{
  font-size: 18px;
  color: rgba(255, 255, 255, 0.79);
  margin-bottom: 20px;
}
.Form__button{
  font-size: 14px;
  color: rgb(245, 245, 245);
  background-color: rgb(16, 154, 246);
  border: 0px;
  width: 70px;
  height: 40px;
}
.Form__searchbar{
  
  margin: 0px 20px 0px 20%;
  width: 50%;
  height:36px;
  font-size: 14px;
  color: rgb(168, 168, 168);
  border: 4px solid rgb(255, 255, 255);
  background-color: white;
  border-radius: 12px;

  display: flex;
  /* flex-direction: column; */
  gap: auto;
  align-items: center;
  
  justify-content: space-between;

}

.Form_input{
  border: 0px;
  color: rgb(125, 125, 125);
  width: 100% ;
}
.Form_inputlayout{
  display : flex;
  margin: auto;
  width: 50%;
  gap:0;
  text-align: center;
}